:root {
    --foreground: #0f172a;
    --background: #ffffff;
    --secondary: #64748B;
    --bg-hover: #f5f5f5;
}


html.dark {
    --foreground: #E2E8F0;
    --background: #1e293b;
    --bg-hover: #303a4a;
}